.row-video {
    margin: auto;

    .card-video {
        width: 100%;
        margin: auto;
    }
}

.title-wrapper {
    margin-bottom: 10px;

    div {
        margin-bottom: 10px;
        white-space: pre-wrap;

    }
}